@inherits LayoutComponentBase



<RadzenLayout>
    <Header OnToggleSideBar="@IsExpandedSideBar"></Header>
    <SideBar IsExpandedSideBar="@isSideBarExpanded"></SideBar>
    <RadzenBody>
        <main id="main-container">
            <article class="content px-4">
                @Body
            </article>
        </main>
    </RadzenBody>
    @*<RadzenFooter>
        Footer
    </RadzenFooter>*@
</RadzenLayout>

@code {
    private bool isSideBarExpanded = false;

    private void IsExpandedSideBar(bool isExpanded)
    {
        isSideBarExpanded = isExpanded;
    }
}
